{{define "theme-custom/viewpassword"}}
{{template "dashboard-custom/header" .}}
{{if ts .CustomCode}}
{{.CustomCode|safe}}
{{end}}
<div class="login nb-container">
    <div class="ui center aligned grid">
        <div class="column">
            <h2 class="ui image header">
                <img src="https://probe.quilt.com.tw/dashboard/logo.png" class="image" />
                <div class="content">
                    驗證檢視密碼
                </div>
            </h2>
            <form action="/view-password" method="POST" class="ui form">
                <div class="field">
                    <input type="password" name="Password">
                </div>
                <button class="ui main-primary-btn button" type="submit">確認</button>
            </form>
        </div>
    </div>
</div>
{{template "dashboard-custom/footer" .}}
{{end}}